form.form-horizontal(role="form", method="POST", action="#{response.path}")

  {{#attributes}}
  .form-group
    label.col-lg-2.control-label {{{humanized}}}
    .col-lg-10
      {{{element}}}.form-control(
        {{#elementType}}
        type="{{{elementType}}}",
        {{/elementType}}
        name="{{{formProperty}}}",
        placeholder="Just type the {{{humanizedLowercase}}} ..",
        {{#required}}
        required="required",
        {{/required}}
        {{^isTextarea}}
        value="#{('undefined' !== typeof {{{entity}}} && null !== {{{entity}}}) ? {{{entity}}}.{{{name}}} : '{{#default}}{{{default}}}{{/default}}'}")
        {{/isTextarea}}
      {{#isTextarea}}
        rows="10"
      ) #{('undefined' !== typeof {{{entity}}} && null !== {{{entity}}}) ? {{{entity}}}.{{{name}}} : '{{#default}}{{{default}}}{{/default}}'}
      {{/isTextarea}}

      span.help-block.
        Some useful hints for the {{{humanizedLowercase}}} input

  {{/attributes}}
  .form-group
    .col-lg-offset-2.col-lg-10
      button.btn.btn-primary
        i.fa.fa-check
        &nbsp;
        | #{response.action === 'create' ? 'Create' : 'Save'}

