- each {{{name}}} in {{{namePlural}}}

  {{#softDeletable}}
  tr(class="#{ {{{name}}}.deleted_at ? 'danger' : '' }")

    td.min.text-center
      i(title="{{{headline}}} is #{ {{{name}}}.deleted_at ? '' : 'not' } deleted",
        data-toggle="tooltip", class="#{ {{{name}}}.deleted_at ? 'fa-times' : 'fa-check' }")
  {{/softDeletable}}
  {{^softDeletable}}
  tr
  {{/softDeletable}}

  {{#attributes}}
    td #{ new String({{{entity}}}.{{{name}}}).words(30) }
  {{/attributes}}

    td.min #{helper.date.format({{{name}}}.created_at, 'L')}
    td.min.no-wrap
      include _operations

